<footer class="footer">
    <header class="footer__institucional-header">
        <img src="/assets/images/logo.png" alt="Company Logo" class="footer__institucional-header-logo" height="50" width="50">
        <h4 class="footer__institucional-header-company-name">My-Market</h4> 
    </header>
    <nav class="footer__institucional-data">
        <ul class="footer__institucional-data-container">
            <li class="footer__institucional-data-item">
                <a href="#" class="footer__institucional-data-link">
                    <!-- Icono -->
                    <i class="fa-solid fa-phone"></i> 11-22334455
                </a>
            </li>
            <li class="footer__institucional-data-item">
                <a href="#" class="footer__institucional-data-link">
                    <!-- Icono -->                            <i class="fa-solid fa-phone"></i> Av. Calle Falsa 123
                    </a>
            </li>
            <li class="footer__institucional-data-item">
                <a href="#" class="footer__institucional-data-link">
                    <!-- Icono -->
                    <i class="fa-solid fa-envelope"></i> Federico@gmail.com
                </a>
            </li>
        </ul>
    </nav>
    <nav class="footer__contact-us">
        <ul class="footer__contact-container">
            <li class="footer__contact-item">
                <a href="#" class="footer__contact-link">
                    <!-- Icono -->
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
            </li>
            <li class="footer__contact-item">
                <a href="#" class="footer__contact-link">
                    <!-- Icono -->
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
            <li class="footer__contact-item">
                <a href="#" class="footer__contact-link">
                    <!-- Icono -->
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
    </nav>
    <div class="footer__institucional-copyrigth">
        <p>&copy;2023 -Todos los derechos reservados a Federico</p>
    </div>
</footer>


</body>

</html>