.formulario {
    width: 75%;
    margin: 0 auto 1rem auto;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid $color-2;

    &-label {
        display: block;
        margin: 0.5rem;
        font-size: 1rem;
    }

    &-input {
        width: 100%;
        padding: 0.5rem;
        margin: 0.5rem;
        border: 1px solid $color-2;
        border-radius: 5px;
        font-size: 1rem;
        color: $color-2;
        background-color: $color-1;
    }

    &-submit {
        margin: 0.5rem;
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
        background-color: $color-2;
        color: $color-text-secondary;
        font-size: 1rem;
        cursor: pointer;
    }
}